/* место для вашего кода */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 92px 24px 96px 24px;
}

.header__menu {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
}
/* отступ главного меню*/
.header__links-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 31px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  padding-right: 170px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.header__address {
  padding-right: 115px;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 165px 50px 147px 50px;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, sans-serif;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 1px;
}

.cover__description {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

.cover__description-text {
  padding-left: 78px;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  margin-left: 79px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 1);
  color: currentColor;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;

}